<?xml version="1.0" encoding="UTF-8"?>
<Server>
    <Connector port="18080"/>
    <Connector port="18081"/>
    <Connector port="18082"/>
    <Service name="Catalina">
        <Engine defaultHost="localhost">
            <!-- virtual host: can imagine as a website -->
            <!-- eg. www.alex.com, www.bob.com -->
            <Host name="localhost">
                <Context path="/b" docBase="/Users/alexchen/programs/diytomcat/b"/>
                <Context path="/javaweb" docBase="/Users/alexchen/programs/diytomcat/javaweb/web" reloadable = "true"/>
            </Host>
        </Engine>
    </Service>
</Server>